<div>

    @if (authService.isAuthenticated()) {
        <p class="text-green-600 font-semibold">You are already logged in!</p>
        <button 
            class="bg-red-300 border-2 px-4 py-2 rounded"
            (click)="authService.logout()"
        >
            Logout
        </button>
    } @else {
        @if (errorMessage) {
            <p class="text-red-600 font-semibold">{{ errorMessage }}</p>
        }

        <input 
            type="text"
            placeholder="username"
            [(ngModel)] = "username"
            (keydown.enter)="username.length && password.length > 0 && loginSubmit()"
        />
        <input 
            type="password"
            placeholder="password"
            [(ngModel)] = "password"
            (keydown.enter)="username.length && password.length > 0 && loginSubmit()"
        />

        <p>hint: username: emilys, password: emilyspass</p>

        @if (username.length && password.length > 0) {
            <button 
                class="bg-amber-300 border-2"
                (click)="loginSubmit()"
            >
                login
            </button>
        }
    }

</div>